<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bresiu.krypto"
          android:versionCode="1"
          android:versionName="0.1">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="18"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.bresiu.krypto.LoginActivity"
                android:theme="@style/Theme.Sherlock.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.bresiu.krypto.RegisterActivity"
                android:theme="@style/Theme.Sherlock.Light.NoActionBar"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name="com.bresiu.krypto.MainActivity"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
                android:label="@string/app_name">
        </activity>

    </application>

    <uses-permission android:name="android.permission.SEND_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>
</manifest>
